<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-utilities.min.css">
<link rel="stylesheet" href="/static/main/app.css">
<link rel="stylesheet" href="/static/main/color.css">
{%- if title %}
     <title>{{title}} | RimuStuff</title>
{%- else %}
    <title>RimuStuff</title>
{%- endif %}
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/main/app.js" defer></script>